body{
    background-color: black;
    box-sizing: border-box;
}

#third_page{

    width: 1920px;
    height: 900px;
    box-sizing: border-box;
    margin: auto;

}

#contents{
    width: 70%;
    height: 100%;
    float: left;
}

#contents2{
    height: 100%;
    width: 30%;
    float: left;
}   

/*  좌측 구상   */

#flow{

    width: 100%;
    height: 15%;
    text-align: center;
    vertical-align: bottom;
    display: flex;
    letter-spacing : 0.15em;
    justify-content: space-around; 
}

#movieSelect{

    height: 100%;
    width: 33%;
    float: left;
    vertical-align: bottom;
    font-size: 40px;
    border: solid #493628;
    border-width: 0px 0px 6px 0px ;
    
}



#dateSelect{
    
    height: 100%;
    width: 33%;
    float: left;
    font-size: 40px;
    border: solid #493628;
    border-width: 0px 0px 6px 0px ;
}

#seatSelect{

    height: 100%;
    width: 33%;
    float: left;
    font-size: 40px;
    border: solid #493628;
    border-width: 0px 0px 6px 0px ;

}


#seat{


    width: 100%;
    height: 85%;
}


#date{

    display: none;
    /*background-color: gray;*/
    width: 100%;
    height: 100%;
    

 }

/*   우측 구상   */

#detail_3{

   
    width: 100%;
    height: 80%;
    display: none;
    
}

#detail_content_3{
    margin:auto;
    margin-top: 25px;
    width: 90%;
    height:100%;
    background-color: #313131;
}

#buttonArea_3{

    display: none;
    width: 100%;
    height: 20%;
    margin: auto;
    margin-top: 5px;
    text-align: center;
    position: relative;

}

.active {
    display: block;
}

#booking_3{

    margin-top: 15px;
    width : 470px;
    height: 70px;
    background-color: #313131;
    color:#E4E0E1;
    font-size: 40px;
    font-weight: 400;
    border-radius: 5px;
    border: none;
    

}


#past{

    margin-top: 10px;
    width : 470px;
    height: 70px;
    background-color: #D9D9D9;
    color:#313131;
    font-size: 40px;
    font-weight: 400;
    border-radius: 5px;
    border: none;

}

/* 형문 */
/* ======================================================== */

/* 달력 영역----------------------- */


/* date 영역 */
#date{
    /*background-color: #151515;*/
    display:flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 80%;

}
/* 날짜 영역*/
#date_area{
    background-color: #2b2b2b;
    width:100%;
    height:100%;
   
}

/* 월선택 영역 */
#month_area{
    width : 100%;
    height:10%;
    display:flex;/*한줄로 정렬*/
    justify-content: center;/*가운데 정렬*/
    gap: 30px;
    font-size: 50px;
    color:white;
}


/* 달력영역 */
#calendar_area{
    width:90%;
    height:90%;
    margin: auto;
    display: flex;/* Flexbox 사용 */
    justify-content: center;/* 가로 중앙 정렬 */
    align-items: center;/* 세로 중앙 정렬 */           
}

/* 달력 테이블 */
#date_table{
    table-layout: fixed; /* 열 너비 고정 */
    width:100%;
    height:95%;
    background-color: #CFCCCD;
    border-collapse: collapse; /* 셀 간의 경계를 합침 */
    text-align: center;
}

/* 요일 영역 */
#date_table>thead>tr{
    height: 80px;        
    color:#493628;
    font-size: 30px;
}




/* 날짜영역 */
#calendar_body td{
    border : 10px solid #CFCCCD;
    font-size:30px;
}




/* 영화가 있는날 */
.has_movie{
    background-color: #e4e1e2;
    cursor:pointer;
}
.has_movie:hover{
    background-color: #313131;
}


/* 예약불가 (예약할게 없는날) */
.no_movie{
    background-color: gray;
}



/* 상영시간 나타내는 영역 ------------*/        

/* 영화제목,날짜영역,상영시간영역 */
#time{
	height:600px;
	 overflow-y: auto;
}

#movie_time{
    width:90%;
    height:100%;
    background-color: #222222;
    margin: auto;
}

/* 제목,날짜 영역 */
#title_date{
    color:#ffffff;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}

/* 상영시간영역 */
#time>div{
    /* background-color: #2f2f2f; */
    width:90%;
    height:60px;
    color:white;
    font-size: 30px;
    font-weight: 600;
    margin:30px auto;
    padding-top:2px;
}

 #time {
    display: flex;
    flex-direction: column;
    align-items: center; /* 수평 중앙 정렬 */
    justify-content: center; /* 수직 중앙 정렬 */
  }

  #time div {
    text-align: center; /* 텍스트 중앙 정렬 */
    margin-bottom: 10px; /* 요소 간 간격 */
  }

	#time>div:hover{
	    transform: scale(1.1);
	    background-color: #808080;  
	}

 #time label {
    display: block;
    width: 100%; 
  }

#selectTime{
    background-color: #151515;
    transform: scale(1.1);
    border : 1px solid #CFCCCD;
} 


